.filters {
  width: 20%;
  padding: 20px;
  border-right: 1px solid #ddd;
  height: 100vh;
}

.filters input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* .stright {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

.stright label {
  display: block;
  margin-bottom: 12px;
}

.stright{
  border-bottom: 1PX rgb(205, 201, 201) solid;
}

.btn{
  margin-top: 20px;
  width: 240px;
  padding: 15px;
  background-color: transparent;
  border: 0.5px black solid;
}